.background {
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cherry_blossom.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 0;
}

.background > * {
    position: relative; 
    z-index: 1;
}

.logo {
    border: double;
    margin-right: 10px;
    width: 80px;
}

#kursy {
    color: #8B1A1A;
    font-weight: 500;
}

.link {
    font-size: 20px;
}