.container {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#teachers-tabs .nav-link {
    background-color: #fff0f0;
    color: #480607;
}

#teachers-tabs .nav-link.active {
    background-color: #8B1A1A;
    color: #fff;
}

.text-on-photos {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-on-photos > h3 {
    font-size: 32px;;
}

.text-on-photos > p {
    font-size: 24px;
}

#teachers-description {
    background-color: #fff0f0;
    color: #480607;
    font-size: 18px;
    padding: 20px 5px;
}